services:
  app-production:
    build:
      context: .
      dockerfile: Dockerfile.production
      target: app
    working_dir: /var/www
    depends_on:
      - db-production

  web-production:
    build:
      context: .
      dockerfile: Dockerfile.production
      target: web
    depends_on:
      - app-production
    expose:
      - "80"

  db-production:
    image: mysql:8.0.43-debian
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
    volumes:
      - /root/databases/production/mysql_data_production:/var/lib/mysql
