# Docker Compose for production testing (local and CI).
services:
  db-production:
    image: mysql:8.0-debian
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}

  app-production:
    build:
      context: .
      dockerfile: Dockerfile.production
      target: app
    working_dir: /var/www
    volumes:
      - e_museu_storage:/var/www/storage
    extra_hosts:
      - "host.docker.internal:host-gateway"
    environment:
      - APP_DEBUG=${APP_DEBUG}
      - APP_ENV=${APP_ENV}
      - APP_KEY=${APP_KEY}
      - APP_NAME=${APP_NAME}
      - APP_URL=${APP_URL}
      - DB_HOST=db-production
      - DB_DATABASE=${DB_DATABASE}
      - DB_USERNAME=${DB_USERNAME}
      - DB_PASSWORD=${DB_PASSWORD}
    depends_on:
      - db-production

  web-production:
    build:
      context: .
      dockerfile: Dockerfile.production
      target: web
    depends_on:
      - app-production
    expose:
      - "80"
    volumes:
      - e_museu_storage:/var/www/storage

volumes:
  e_museu_storage:
