# Docker Compose for production testing
# This file is used ONLY for local testing and CI.
# It's a complete and independent file, doesn't need docker-compose.production.yml
services:
  app-production:
    build:
      context: .
      dockerfile: Dockerfile.production
      target: app
    working_dir: /var/www
    environment:
      - APP_DEBUG=${APP_DEBUG}
      - APP_ENV=${APP_ENV}
      - APP_KEY=${APP_KEY}
      - APP_NAME=${APP_NAME}
      - APP_URL=${APP_URL}
      # On staging and production, not local, set the DATABASE_URL in the environment (no db service).
      - DB_DATABASE=${DB_DATABASE}
      - DB_HOST=${DB_HOST}
      - DB_PASSWORD=${DB_PASSWORD}
      - DB_ROOT_PASSWORD=${DB_ROOT_PASSWORD}
      - DB_USERNAME=${DB_USERNAME}
    depends_on:
      - db-production

  web-production:
    build:
      context: .
      dockerfile: Dockerfile.production
      target: web
    depends_on:
      - app-production
    expose:
      - "80"

  db-production:
    image: mysql:8.0-debian # Image used in staging & production
    environment:
      # On staging and production, not local, set the DATABASE_URL in the environment (no db service).
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
