APP_DEBUG=true
APP_ENV=staging
APP_KEY=
APP_NAME=E-Museu-Staging
APP_URL=http://YOUR_WEB_SERVICE.sslip.io
AWS_ACCESS_KEY_ID=SERVICE_USER_MINIO
AWS_BUCKET=e-museu-staging
AWS_ENDPOINT=MINIO_SERVER_URL
AWS_SECRET_ACCESS_KEY=SERVICE_PASSWORD_MINIO
AWS_URL=MINIO_SERVER_URL/e-museu-staging
DATABASE_URL=mysql://USER:PASSWORD@YOUR_MYSQL_HOST:3306/staging_e_museu
FILESYSTEM_DISK=s3
MAIL_FROM_ADDRESS=noreply@yourdomain.com
MAIL_FROM_NAME=E-Museu-Staging
MAIL_MAILER=resend
REDIS_URL=redis://default:YOUR_REDIS_PASSWORD:6379/0
RESEND_KEY=re_xxxxxxxxxxxxxxxx
STAGING_HTTP_PASSWORD=strong_password
STAGING_HTTP_USER=staging
