APP_DEBUG=false
APP_ENV=production
APP_FORCE_HTTPS=true
APP_KEY=
APP_NAME=E-Museu
APP_URL=https://PRODUCTION_WEB_SERVICE
ASSET_URL=https://PRODUCTION_WEB_SERVICE
AWS_ACCESS_KEY_ID=SERVICE_s3_ROOT_USER
AWS_SECRET_ACCESS_KEY=SERVICE_s3_ROOT_PASSWORD
AWS_BUCKET=e-museu-production
AWS_ENDPOINT=http://SERVER_IP_or_SERVICE_S3_HOST:10000
DATABASE_URL=mysql://USER:PASSWORD@MYSQL_HOST:3306/e_museu_production
FILESYSTEM_DISK=s3
SESSION_SECURE_COOKIE=true
MAIL_FROM_ADDRESS=noreply@youremaildomain.com
MAIL_FROM_NAME=E-Museu
MAIL_MAILER=resend
REDIS_URL=redis://default:REDIS_PASSWORD@REDIS_HOST:6379/0
RESEND_KEY=re_xxxxxxxxxxxxxxxx
ANTIBOT_DRIVER=turnstile
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=
