APP_DEBUG=true
APP_ENV=staging
APP_FORCE_HTTPS=true
APP_KEY=
APP_NAME=E-Museu-Staging
APP_URL=https://STAGING_WEB_SERVICE
ASSET_URL=https://STAGING_WEB_SERVICE
AWS_ACCESS_KEY_ID=SERVICE_s3_ROOT_USER
AWS_SECRET_ACCESS_KEY=SERVICE_s3_ROOT_PASSWORD
AWS_BUCKET=e-museu-staging
AWS_ENDPOINT=http://SERVER_IP_or_SERVICE_S3_HOST:20000
DATABASE_URL=mysql://USER:PASSWORD@YOUR_MYSQL_HOST:3306/e_museu_staging
FILESYSTEM_DISK=s3
SESSION_SECURE_COOKIE=true
MAIL_FROM_ADDRESS=noreply@youremaildomain.com
MAIL_FROM_NAME=E-Museu-Staging
MAIL_MAILER=resend
REDIS_URL=redis://default:REDIS_PASSWORD@REDIS_HOST:6379/0
RESEND_KEY=re_xxxxxxxxxxxxxxxx
STAGING_HTTP_PASSWORD=strong_password
STAGING_HTTP_USER=staging
